body {
    margin: 0;
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

#hero {
    background-image: url(fashion-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

body {
  background: white;
  color: black;
  transition: 0.3s;
}

body.dark {
  background: #0f0f0f;
  color: white;
}

#logo {
    border-radius: 100%;
    margin-left: 20px;
    height: 100px;
    width: 100px;
}

a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}

li {
    display: inline;
    padding: 0 50px;
}

#language {
    margin: 0 65px;
    border: none;
    font-size: 30px;
    background-color: transparent;
    cursor: pointer;
}

.button {
    margin-top: 30%;
    width: 100%;
    text-align: center;
    }
    .purchase {
        color: #000000;
        background-color: #ffffff;
        padding: 7px 30px;
        height: 60px;
        font-size: 30px;
        border-radius: 30px;
        cursor: pointer;
    }
    .purchase:hover {
        color: #ffffff;
        background-color: #000000;
        height: 65px;
    }
    
#fashion-news {
    background-size: contain;
    width: 100%;
    height: 100vh;
}

h1 {
    padding-left: 200px;
    font-size: 70px;
}

.fashion-news {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

.fashionnews {
    width: 900px;
    height: 400px;
    margin: 0 15px;
    border: 1px solid black;
    text-align: center;
}

.fashionnews img {
    width: 100%;
}

.fashion {
    position: relative;
    bottom: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#trends {
    background-size: contain;
    width: 100%;
    height: 100vh;
}

.trends {
    margin-left: 100px;
    justify-content: center;
    overflow-y: scroll;
}

.trend {
    width: 50%;
    height: 200px;
    margin: 0 15px;
    border: 1px solid black;
    display: flex;
}

.trending {
    width: 50%;
}

.trendings {
    margin-left: 70%;
}

#gallery {
    background-size: contain;
    width: 100%;
    height: 100vh;
}

.gallery {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

.photos {
    width: 900px;
    height: 400px;
    margin: 0 15px;
    border: 1px solid black;
    text-align: center;
}

.photos img {
    width: 100%;
}

.gallery-text {
    position: relative;
    bottom: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#fashion-tips {
    background-size: contain;
    width: 100%;
    height: 100vh;
    display: block;
}

.fashion-tips {
    margin-left: 100px;
    justify-content: center;
    margin: 20px;
}

.fashion-tip {
    width: 100%;
    height: 200px;
    margin: 0 15px;
    border: 1px solid black;
    display: flex;
}

.tip {
    width: 50%;
    flex: 1;
}

.tip-name {
    margin-left: 20px;
    flex: 1;
}

.tipp {
    margin-left: 50%;
    width: 50%;
}

.tipp-name {
    width: 50%;
    margin-left: 20px;
}

#videos {
    background-size: contain;
    width: 100%;
    height: 100vh;
}

.videos {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

.video {
    width: 900px;
    height: 600px;
    margin: 0 15px;
    border: 1px solid black;
    text-align: center;
}

.video img {
    width: 100%;
}

.video-name {
    position: relative;;
    margin-top: 20%;
    text-align: center;
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#shop {
    background-size: contain;
    width: 100%;
    height: 100vh;
    background-image: url(images/minimal-aesthetic-fashion-clothes-concept-neutral-beige-washed-linen-female-blouses-dresses-tshirts-hanger-white-background-fashion-blog-website-social-media_408798-9278.jpg.avif);
}

.shop {
    text-align: center;
    margin-top: 30%;
}

.button {
    width: 100%;
    text-align: center;
    }
    .online-shop {
        color: #000000;
        background-color: #ffffff;
        padding: 7px 30px;
        height: 60px;
        font-size: 30px;
        border-radius: 30px;
        cursor: pointer;
    }
    .online-shop:hover {
        color: #ffffff;
        background-color: #000000;
        height: 65px;
    }

.shop {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.shop video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.us-uppertext {
    padding-left: 300px;
}

.us-lowertext {
    padding-right: 300px;
}

h3 {
    text-align: center;
}

.us {
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.button {
    width: 100%;
    text-align: center;
    }
    .contact-us {
        color: #000000;
        background-color: #ffffff;
        padding: 7px 30px;
        height: 60px;
        font-size: 30px;
        border-radius: 30px;
        cursor: pointer;
    }
    .contact-us:hover {
        color: #ffffff;
        background-color: #000000;
        height: 65px;
    }

#footer {
    background-size: contain;
    width: 100%;
}

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.upper-buttons {
    display: flex;
}

.lower-buttons {
    display: flex;
}